body{
	font-family: 'Lato', sans-serif;
	width: 100%;    
    margin: auto;
    background-color: #f6f9f9;
}

.header__mainHeader{
	display: flex;
	justify-content: flex-start;
	background-color: #fff; 
	padding: 2em 0 2em 18em;
}

@media (max-width: 800px) and (min-width: 310px) {
	html{ 
		font-size: 0.7em;
		margin: 0 auto;
		width: 100vw;
	}

	.header__mainHeader{
		display: flex;
		justify-content: center;
		padding-left: 0;
	}

	.mainHeader__img{ 
		transform: scale(0.7); 
	}
}
